# Local .terraform directories
**/.terraform/
**/.terraform.lock.hcl

# .tfstate files
**/.tfstate
**/.tfstate.*

*.tfstate
*.tfstate.*

# Crash log files
**/crash.log
**/crash.*.log

crash.log
crash.*.log

# Exclude .tfvars files, which may contain sensitive data
**/*.tfvars
**/*.tfvars.json

*.tfvars
*.tfvars.json

# Ignore override files used for local development
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
**/.terraformrc
**/terraform.rc

.terraformrc
terraform.rc

# Ignore plan output files
**/*tfplan*
*.tfplan*

# Operating System specific files (e.g., macOS)
.DS_Store
